<a href="https://colab.research.google.com/github/abhignyan771/My-Projects/blob/main/Heart_disease.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Importing Libraries

In [ ]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

Importing the dataset

In [ ]:
heart=pd.read_csv('/content/heart.csv')

Basic Information of dataset

In [ ]:
heart.head(5)

   age  sex  cp  trestbps  chol  fbs  ...  exang  oldpeak  slope  ca  thal  target
0   63    1   3       145   233    1  ...      0      2.3      0   0     1       1
1   37    1   2       130   250    0  ...      0      3.5      0   0     2       1
2   41    0   1       130   204    0  ...      0      1.4      2   0     2       1
3   56    1   1       120   236    0  ...      0      0.8      2   0     2       1
4   57    0   0       120   354    0  ...      1      0.6      2   0     2       1

[5 rows x 14 columns]

In [ ]:
heart.shape

(303, 14)

In [ ]:
heart.describe()

              age         sex          cp  ...          ca        thal      target
count  303.000000  303.000000  303.000000  ...  303.000000  303.000000  303.000000
mean    54.366337    0.683168    0.966997  ...    0.729373    2.313531    0.544554
std      9.082101    0.466011    1.032052  ...    1.022606    0.612277    0.498835
min     29.000000    0.000000    0.000000  ...    0.000000    0.000000    0.000000
25%     47.500000    0.000000    0.000000  ...    0.000000    2.000000    0.000000
50%     55.000000    1.000000    1.000000  ...    0.000000    2.000000    1.000000
75%     61.000000    1.000000    2.000000  ...    1.000000    3.000000    1.000000
max     77.000000    1.000000    3.000000  ...    4.000000    3.000000    1.000000

[8 rows x 14 columns]

In [ ]:
X=heart.drop(columns='target',axis=1)
Y=heart.target

Splitting data

In [ ]:
X_train,X_test,Y_train,Y_test= train_test_split(X,Y,test_size=0.25,stratify=Y)

Model Training

In [ ]:
heart_model=LogisticRegression()
heart_model.fit(X_train,Y_train)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

LogisticRegression()

Model Evaluation

In [ ]:
predicted_Y_train=heart_model.predict(X_train)
goodness_train=accuracy_score(predicted_Y_train,Y_train)

In [ ]:
predicted_Y_test=heart_model.predict(X_test)
goodness_test=accuracy_score(predicted_Y_test,Y_test)

In [ ]:
print(goodness_test,goodness_train)

0.8289473684210527 0.8502202643171806

Predicting

In [ ]:
input_data=np.array([55,1,3,145,215,1,0,130,0,2.3,0,0,0])
input_data=input_data.reshape(1,-1)
prediction=heart_model.predict(input_data)
prediction[0]

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but LogisticRegression was fitted with feature names
  "X does not have valid feature names, but"

1

In [ ]:
if (prediction[0]==1):
  print("heart desease detected")
else:
  print("heart desease not being detected")

heart desease detected